/*===pop_up===*/

/* 오늘 하루 보지 않기 팝업 */
.main_popup {
    position: fixed;
    z-index: 500;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.pop_left {
    top: 100px;
    left: 50px;
}

.pop_right {
    top: 100px;
    left: 375px;
}

.main_popup.on {
    display: block;
}

.close_img_wrap {
    width: 300px;
    height: 300px;
}

.close_btn_wrap {
    display: flex;
    text-align: center;
    background-color: #f6f6f6;
}

.close_btn_wrap button {
    width: 50%;
    padding: 10px 0;
    cursor: pointer;
}

.close_btn_wrap button span {
    display: inline-block;
    width: 100%;
    color: #2e2d2c;
    font-size: 12px;
}

.close_btn_wrap button:first-child span {
    border-right: 1px solid #2e2d2c;
}

/*===main_banner===*/
.main_banner {
    margin-top: 90px;
    position: relative;
}

.mb_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #f6f6f6;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    animation: fade_In_up 0.8s linear;
}

@keyframes fade_In_up {
    0% {
        opacity: 0;
        transform: translate(-50%, -10%);
    }

    100% {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
}

.mb_txt h1 {
    font-size: 150px;
    line-height: 220px;
    letter-spacing: 5px;
    font-weight: 100;
}

.mb_txt h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: right;
    letter-spacing: 2px;
}

.mb_next,
.mb_prev {
    color: #f6f6f6;
}

.mb_pag span {
    background-color: #f6f6f6;
}

/*===about===*/
#about {
    width: 100%;
    height: 1100px;
    position: relative;
    background: url(../image/about_bg.jpg) center top no-repeat;
    overflow: hidden;
}

.about_inner {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

#about h1 {
    padding-top: 90px;
    font-size: 110px;
    letter-spacing: 30px;
    color: #0083b9;
    font-weight: 100;
    line-height: 110px;
}

.about_video {
    margin-top: 40px;
    position: relative;
    height: 448px;
    width: 1000px;
}

.about_video video {
    position: absolute;
    top: 0;
    left: 160px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_video img {
    position: absolute;
    top: 0;
    left: 160px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: 2;
}

#about .about_box {
    display: grid;
    place-items: center;
    padding: 30px 0;
}

#about p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 32px;
}

.btn_wave {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #0083b9;
    font-size: 18px;
    color: #0083b9;
    overflow: hidden;
    z-index: 25;
}

.btn_wave span {
    position: relative;
    z-index: 25;
    transition: 1s;

}

.btn_wave .wave {
    position: absolute;
    top: calc(100% + 22px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0083b9;
    transition: 1s;
    z-index: 20;
}

.btn_wave .backcolor {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.btn_wave:hover .wave {
    top: 0;
}

.btn_wave:hover {
    color: #fff;
}

.btn_wave .wave:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(../image/wave.png);
    animation: animate_btn 0.5s linear infinite;
}

@keyframes animate_btn {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 118px;
    }
}

#about section span {
    position: absolute;
    bottom: 100px;
    border-radius: 50%;
    background-color: #8aceec;
    pointer-events: none;
    animation: bubble 4s linear infinite;
}


@keyframes bubble {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    25% {
        transform: translate(-100%, -750%);
        opacity: 1;
    }

    50% {
        transform: translateY(-1500%);
        opacity: 1;
    }

    75% {
        transform: translate(100%, -2250%);
        opacity: 1;
    }

    100% {
        transform: translateY(-3000%);
        opacity: 1;
    }
}

/*===room===*/
#room {
    background: url(../image/room_bg.jpg) center top no-repeat;
    height: 1274px;
}

#room .room_inner {
    max-width: 1620px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 50px;
}

#room .room_inner h1 {
    font-size: 100px;
    line-height: 110px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    font-weight: 500;
}

#room .room_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
}

#room .room_wrap .room_card {
    width: 600px;
    height: 800px;
    background-color: #f6f6f6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    position: relative;
}

#room .room_wrap .room_card .tape {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#room .room_wrap .room_card .tape img {
    width: 90%;
}

#room .room_wrap .room_card .room_img {
    width: 500px;
    height: 550px;
    cursor: pointer;
    box-sizing: content-box;
    padding-bottom: 40px;

}

#room .room_wrap .room_card .room_txt_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#room .room_wrap .room_card .room_txt_wrap .room_txt_title {
    width: 40%;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 500;
}

#room .room_wrap .room_card .room_txt_wrap .room_txt_sub {
    width: 55%;
    font-size: 18px;
    line-height: 30px;
}

#room .room_wrap .room_card .btn_room {
    margin-top: 18px;
    text-align: center;
}

.room_pag span {
    background-color: #0083b9;
}

#room section {
    position: relative;
    width: 100%;
    bottom: -108px;
}

#room section .back_wave {
    position: relative;
}

#room section .back_wave .wave_in {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(../image/back_wave.png);
    background-size: 1000px 100px;
}

#room section .back_wave .wave_in#wave1 {
    opacity: 1;
    bottom: 0;
    z-index: 4;
    animation: animate_back1 4s linear infinite;
}

#room section .back_wave .wave_in#wave2 {
    opacity: 0.5;
    bottom: 10px;
    z-index: 3;
    animation: animate_back2 4s linear infinite;
}

#room section .back_wave .wave_in#wave3 {
    opacity: 0.2;
    bottom: 15px;
    z-index: 2;
    animation: animate_back1 2s linear infinite;
}

#room section .back_wave .wave_in#wave4 {
    opacity: 0.7;
    bottom: 20px;
    z-index: 3;
    animation: animate_back2 2s linear infinite;
}

@keyframes animate_back1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animate_back2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/*===sub_banner===*/
#sub_banner {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#sub_banner img {
    object-fit: cover;
    left: 0;
    top: 0;
    position: absolute;
}

#sub_banner .sub_bbox {
    position: absolute;
    display: flex;
    align-items: center;
    height: 300px;
    object-fit: cover;
    mix-blend-mode: screen;
    background-color: #fff;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
}

#sub_banner p {
    width: 50%;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #000;
    animation: ripple 40s linear infinite;
    letter-spacing: 20px;
}

#sub_banner p>span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #000 10px;
}

@keyframes ripple {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/*===facility===*/
#special {
    background: url(../image/facility_bg.jpg) right top no-repeat;
    background-size: cover;
    width: 100%;
    height: 910px;
    padding: 100px 0;
    margin-top: 50px;
}

#special .special_inner {
    margin: auto;
    max-width: 1470px;
    position: relative;
}

#special .special_box {
    position: relative;
}

#special .special_box .btn_special {
    position: absolute;
    left: 845px;
    top: 340px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
}

#special .special_box .btn_special a {
    display: inline-block;
    color: #0083b9;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
}

#special .special_box .btn_special a img {
    width: 20px;
}

#special .special_box .btn_special a:hover {
    color: #8aceec;
    transition: all 0.8s;
}

#special .special_box .btn_special a:hover img {
    transform: translateX(10px);
    transition: all 0.8s;
}

#special .special_txt {
    position: absolute;
    right: 8%;
    top: 2%;
    z-index: 20;
}

#special .special_txt h1 {
    font-weight: 600;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: -2px;
    padding-bottom: 10px;
}

#special .special_txt p {
    font-size: 18px;
}


#special .special_box .sp_next,
#special .special_box .sp_prev {
    box-sizing: content-box;
    background-color: #0083b9;
    color: #f6f6f6;
    padding: 10px 30px;
}

#special .special_box .sp_next {
    left: 724px;
    top: 572px;
}

#special .special_box .sp_prev {
    left: 637px;
    top: 572px;
}

/*===gallery===*/
#gallery {
    background: url(../image/Gallery_bg.jpg) right top no-repeat;
    background-size: cover;
    height: 750px;
    padding-top: 180px;
    padding-bottom: 90px;
    overflow: hidden;
}

#gallery .gallery_txt {
    width: 1320px;
    margin: 0 auto;
}

#gallery .gallery_txt h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
}

#gallery .gallery_txt p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

#gallery .gallery_img {
    max-width: 1620px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
}

/*===way===*/
#way {
    background: url(../image/way_bg.jpg) center top no-repeat;
    background-size: cover;
    height: 600px;

}

.way_inner {
    width: 1320px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.way_inner .way_txt {
    width: 40%;
}

.way_inner .way_txt p {
    font-weight: 300;
}

.way_inner .way_txt h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.way_inner .way_txt h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 10px;
}

.way_inner .way_btn_wrap {
    display: flex;
}

.way_inner .way_btn_wrap .way_btn {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #0083b9;
    color: #0083b9;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-right: 20px;
    overflow: hidden;
}

.way_inner .way_btn_wrap .way_btn p,
.way_inner .way_btn_wrap .way_btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.way_inner .way_btn_wrap .way_btn:hover {
    background-color: #f6f6f6;
    transition: all 0.5s;
}

.way_inner .way_btn_wrap .way_btn img {
    width: 30%;
}

.way_inner .way_gps {
    width: 660px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}